.admin_buttons {
    float: right;
}

.field_pair {
    margin-bottom: 20px;
}

table.settings td {
    width: 80%
}

#content {
    min-height: 600px;
}

.settings input {
    width: 300px;
}

.data_pair {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    color: #666;
}

.data_pair label {
    padding-right: 10px;
    width: 80px;
    display: block;
    float: left;
}

.data_group {
    margin-bottom: 20px;
    border: solid 1px #999;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    padding:  10px;
    background-color: #e1e1e1;
    overflow: hidden;
    width: 95%;    
}

.data_group h2 {
    color: #666;
}

.data_group h3 {
    font-size: 130%;
    color: #666;    
}

.col {
    float: left;
    width: 48%;
    margin-right: 10px;
}

table.index {
    border-top:  1px solid #aaa;
    border-left:  1px solid #aaa;
    background-color:  white;
}

table.index td.invoice_group {
    padding-top: 10px;
}

table.index h4 {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: #666;
}

table.index .inactive {
    background-color:  #eee;
}

table.index .active {
    background-color: yellow;
    font-weight: 800;
}