.honyb-report {
  overflow-x: scroll;
  border: 1px solid #ccc;
  table {
    border-collapse: collapse;
    th {
      background: #ccc;
    }
    
    td {
      border: 1px solid #ccc;
    }
  }
}

