.admin_buttons {
    float: right;
}

.field_pair {
    margin-bottom: 20px;
}

table.settings td {
    width: 80%
}

#content {
    /*min-height: 600px;*/
}

.settings input {
    width: 300px;
}

.data_pair {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    color: #666;
}

.data_pair label {
    padding-right: 10px;
    width: 80px;
    display: block;
    float: left;
}

.data_group {
    margin-bottom: 20px;
    border: solid 1px #ddd;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    padding: 10px;
    background-color: #f2f2f2;
    overflow: hidden;
    width: 95%;
}

.data_group h2 {
    color: #666;
    float: left;
    margin-right: 10px;
    font-size: 110%;    
}

.data_group h3 {
    font-size: 130%;
    color: #666;
}

.col {
    float: left;
    width: 48%;
    margin-right: 10px;
}

table.index {
    border: 1px solid #aaa;
    background-color: white;
}

table.index td {
    background: white;
}

table.index th:last-child {
    border-right:  none;
}

table.index .total td {
    background-color: #eee;
}

table.index td.invoice_group {
    padding-top: 10px;
}

table.index h4 {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: #666;
}

table.index .inactive {
    background-color: #eee;
}

table.index .active {
    background-color: yellow;
    font-weight: 800;
}

.toggle {
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #aaa;
    display: inline;
    font-size: 10px;
    font-family: lucida grande, verdana, sans-serif;
    padding: 2px 4px;
    font-weight: 800;
    color: #555;
    text-shadow: 0 1px 2px #e5e5e5;
    margin-bottom: 8px;

}

.collapseable {
    clear: both;
}

.status {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: red;
    display: inline;
    padding:  1px 4px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-right: 3px;
}

.status.create {
    background-color: orange;
    color: #8b0000;
}

li .status {
    position: relative;
    left: -20px;
    top: 0px;
}

.more {
    margin-top: 10px;
}
